<div class="card mt-2" *ngFor="let patient of patient | async">
  <div class="card-body">
    <h3 class="card-title">{{ patient.name }}</h3>
    <p class="card-text">{{patient.email}}</p>
    <p class="card-text">{{patient.phone}}</p>
    <p class="card-text">{{patient.cpf}}</p>
    <p class="card-text">{{patient.value_payment}}</p>
    <p class="card-text">{{patient.begin}}</p>

    <button type="button" class="btn btn-default" (click)="edit(patient, patient.key)"> Editar</button>
    <button type="button" class="btn btn-danger" (click)="delet(patient.key)"> Deletar</button>

  </div>
</div> 